	{% extends "senaback/index_main.html" %}
	<!DOCTYPE html>
	<html lang="es">
	<head>
		{% load static %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		<!-- Styles -->
		{% block css %}
		<link href="{% static 'senaback/css/stylesmain3.css' %}" rel="stylesheet">
		{% endblock css %}
	</head>
	<body>
	{% block content %}
	<section id="formulario-crear-elemento" class="modal">
		<div class="modal-content">
			<span class="close-btn" id="close-modal">&times;</span>
			<h2>Crear elemento</h2>
			<hr>
			<form method="post" action="{% url 'crear_elemento_consumible' %}">
				{% csrf_token %}
				<label for="username_editar">Elemento</label>
				<input type="text" id="username_editar" name="username">
				<label for="categoria_editar">Categoria</label>
				<input type="text" id="categoria_editar" name="categoria">
				<label for="serial_editar">Serial:</label>
				<input type="text" id="serial_editar" name="serial">
				<label for="cantidad_editar">Cantidad:</label>
				<input type="number" id="cantidad_editar" name="cantidad">
				<label for="valor_editar">Valor unitario:</label>
				<input type="text" id="valor_editar" name="valor">
				<label for="descripcion_editar">Descripción:</label>
				<textarea id="descripcion_editar" name="descripcion" rows="5" placeholder="Escribe una descripción"></textarea>
				<div class="botones-container">
					<button class="btn-guardar" id="btn-no-guardar-crear">Cancelar</button>
					<button class="btn-no-guardar" id="btn-guardar-crear">Guardar</button>
				</div>
			</form>
		</div>
	</section>

	<!-- Formulario para Editar Elemento Consumible -->
	<section id="formulario-editar-elemento" class="modal">
		<div class="modal-content">
			<h2>Editar elemento</h2>
			<hr>
			<form>
				<label for="username">Elemento</label>
				<input type="text" id="username" name="username">
				<label for="categoria">Categoria</label>
				<input type="text" id="categoria" name="categoria">
				<label for="serial">Serial:</label>
				<input type="text" id="serial" name="serial">
				<label for="cantidad">Cantidad:</label>
				<input type="number" id="cantidad" name="cantidad">
				<label for="valor">Valor unitario:</label>
				<input type="text" id="valor" name="valor">
				<label for="descripcion">Descripción:</label>
				<textarea id="descripcion" name="descripcion" rows="5" placeholder="Escribe una descripción"></textarea>
				<div class="botones-container">
					<button class="btn-guardar" id="btn-no-guardar-editar">Cancelar</button>
					<button class="btn-no-guardar" id="btn-guardar-editar">Guardar</button>
				</div>
			</form>
		</div>
	</section>

	<!-- Tabla de Elementos Consumibles -->
	<section>
		<div id="titulo">
			<h1>Inventario de Elementos Consumibles</h1>
			<form method="get" action="{% url 'elementos_consumibles' %}">
				<div id="filtrar">
					<input type="text" name="filtro" placeholder="Filtrar por..." value="{{ filtro }}">
					<button type="submit">Filtrar</button>
				</div>
			</form>
		</div>

		<table id="prueba-tabla">
			<thead>
				<tr id="tabla-titulo">
					<th>ID</th>
					<th>Elemento</th>
					<th>Categoria</th>
					<th>Serial</th>
					<th>Cantidad</th>
					<th>Valor</th>
					<th>Descripcion</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				{% for elemento in elemento_consumibles %}
				<tr class="tabla-contenido">
					<td>{{ elemento.id }}</td>
					<td>{{ elemento.nombre }}</td>
					<td>{{ elemento.categoria }}</td>
					<td>{{ elemento.serial }}</td>
					<td>{{ elemento.cantidad_total }}</td>
					<td>{{ elemento.valor }}</td>
					<td>{{ elemento.descripcion_elemento }}</td>
					<td>
						<div class="tabla-contenido-boton">
							<a href="#" class="formulario-editar-elemento-link" data-formulario="editar-elemento" data-elemento-id="{{ elemento.id }}" id="formulario-editar-elemento-link">
								<img src="{% static 'senaback/img/usuarios.svg' %}" alt="Editar">
							</a>
						</div>
					</td>					
				</tr>
				{% endfor %}
			</tbody>
			<div id="paginacion">
				<ul>
					<li><a href="#" id="anterior">
					</a></li>
					<li><a href="#" class="pagina-actual">1</a></li>
					<li><a href="#" class="pagina">2</a></li>
					<li><a href="#" class="pagina">3</a></li>
					<li><a href="#" id="siguiente">
					</a></li>
				</ul>
			</div>
			
		<script>
			document.addEventListener("DOMContentLoaded", function () {
    // Código para la paginación
    const tabla = document.getElementById("prueba-tabla");
    const filas = tabla.getElementsByTagName("tr");
    const filasPorPagina = 5;
    let paginaActual = 1;

    function mostrarPagina(pagina) {
        for (let i = 1; i < filas.length; i++) {
            filas[i].style.display = "none";
        }

        const inicio = (pagina - 1) * filasPorPagina + 1;
        const fin = inicio + filasPorPagina;

        for (let i = inicio; i < fin; i++) {
            if (filas[i]) {
                filas[i].style.display = "";
            }
        }
    }

    function actualizarPaginacion() {
        const paginas = Math.ceil((filas.length - 1) / filasPorPagina);

        const paginacion = document.getElementById("paginacion");
        paginacion.innerHTML = `<ul>
            <li><a href="#" id="anterior">&laquo; Anterior</a></li>
        </ul>`;

        for (let i = 1; i <= paginas; i++) {
            const pagina = document.createElement("li");
            pagina.innerHTML = `<a href="#" class="pagina">${i}</a>`;
            paginacion.querySelector("ul").appendChild(pagina);
        }

        paginacion.innerHTML += `<ul>
            <li><a href="#" id="siguiente">Siguiente &raquo;</a></li>
        </ul>`;

        const paginasElement = document.querySelectorAll(".pagina");
        paginasElement[paginaActual - 1].classList.add("pagina-actual");

        paginasElement.forEach((element, index) => {
            element.addEventListener("click", () => {
                paginaActual = index + 1;
                mostrarPagina(paginaActual);

                paginasElement.forEach((el) => el.classList.remove("pagina-actual"));
                element.classList.add("pagina-actual");
            });
        });

        const botonAnterior = document.getElementById("anterior");
        const botonSiguiente = document.getElementById("siguiente");

        botonAnterior.addEventListener("click", () => {
            if (paginaActual > 1) {
                paginaActual--;
                mostrarPagina(paginaActual);

                paginasElement.forEach((el) => el.classList.remove("pagina-actual"));
                paginasElement[paginaActual - 1].classList.add("pagina-actual");
            }
        });

        botonSiguiente.addEventListener("click", () => {
            if (paginaActual < paginas) {
                paginaActual++;
                mostrarPagina(paginaActual);

                paginasElement.forEach((el) => el.classList.remove("pagina-actual"));
                paginasElement[paginaActual - 1].classList.add("pagina-actual");
            }
        });
    }

    mostrarPagina(paginaActual);
    actualizarPaginacion();

    // Código para cargar datos en la ventana modal de edición
    const editarElementoLinks = document.querySelectorAll(".formulario-editar-elemento-link");

    editarElementoLinks.forEach(link => {
        link.addEventListener("click", () => {
            const elementoId = link.getAttribute("data-elemento-id");

            // Realizar una solicitud AJAX para obtener los datos del elemento con el ID elementoId
            fetch(`/ruta_para_obtener_elemento/${elementoId}/`)
                .then(response => response.json())
                .then(data => {
                    // Llenar el formulario de edición con los datos obtenidos
                    document.getElementById("username_editar").value = data.nombre;
                    document.getElementById("categoria_editar").value = data.categoria;
                    document.getElementById("serial_editar").value = data.serial;
                    document.getElementById("cantidad_editar").value = data.cantidad_total;
                    document.getElementById("valor_editar").value = data.valor;

                    // Asignar el valor de data.descripcion_elemento a descripcionElemento.value
                    const descripcionElemento = document.getElementById("descripcion_editar");
                    if (descripcionElemento) {
                        descripcionElemento.value = data.descripcion_elemento;
                    }
                })
                .catch(error => console.error(error));
        });
    });
});


			</script>
				
		</table>
			<section id="botones-seccion-crear">
			<div class="tabla-contenido-botones">
				<a href="#" id="formulario-crear-elemento-link" >
				<img src="{% static 'senaback/img/crear.svg'%}" alt="">
				</a>
			</div>
		</section> 
		</section>

		<script src="{% static 'senaback/js/Script4.js' %}" defer></script>
		{% endblock content %}
	</body>
	</html>


