
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Styles -->
    <link href="{% static 'CSAWeb/css/estilo.css' %}" rel="stylesheet">
    <link href="css/estilo.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/24f8ed5638.js" crossorigin="anonymous"></script>
    <link href="css/styles.css" rel="stylesheet">
</head>
<body>
    <header id="main-header">
        <div class="horizontal">
            <div class="logo">
                <img src="{% static 'senaback/img/logo-sena.svg'%}" alt="">
            </div>
            <div class="info-centro">
                <h1><a href="{% url 'index' %}" id="boton_index">Sistema de Gestión de Inventario</a></h1>
            </div>
            <div id="sesion">
                <a href="../login.html">
                    <div id="cerrar-sesion-img">
                        <img src="/img/cerrar-sesion.svg" alt="">
                    </div>
                    <p>Cerrar Sesión</p>
                </a>
            </div>
        </div>
    </header>
    <nav id="botones-nav">
        <ul>
            <li><div class="icono"><img src="img/usuarios.svg"></div><a href="#">Usuarios</a>
                <ul>
                    <li><a href="#">Crear usuario</a></li>
                    <li><a href="#">Editar usuario</a></li>
                    <li><a href="#">Deshabilitar usuario</a></li>
                    <li><a href="#">Listar usuario</a></li>
                </ul>
            </li>
            <li><div class="icono"><img src="img/inventarios.svg"></div><a href="#">Inventarios</a>
                <ul>
                    <li><a href="../../seccion/crear_elemento/crear_elemento.html">Crear elementos</a></li>
                    <li><a href="../../seccion/editar_elemento/editarelemento.html">Editar elemento</a></li>
                    <li><a href="#">Visualizar elemento</a></li>
                    <li><a href="../../index.html">Listar elementos</a></li>
                </ul>
            </li>
            <li><div class="icono"><img src="../../img/transacciones.svg"></div><a href="#">Transacciones</a>
                <ul>
                    <li><a href="../../Elementos/otorgar_prestamo/otorgar_elemento.html">Otorgar elemento</a></li>
                    <li><a href="../../Elementos/finalizar Prestamo/finalizar_prestamo.html">Anular préstamo</a></li>
                    <li><a href="../../Elementos/Ficha de Prestamo Devolutivo/visualizar.html">Consultar transacción</a></li>
                    <li><a href="../../listar transacciones/index.html">Listar transacciones</a></li>
                </ul>
            </li>
            <li><div class="icono"><img src="/img/opciones.svg"></div><a href="#">Opciones</a>
                <ul>
                    <li><a href="#">Ver perfil</a></li>
                    <li><a href="#">Editar perfil</a></li>
                    <li><a href="{% url 'login' %}">Cerrar Sesión</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <section>
        <div id="titulo">
            <div></div>
            <h1>Lista de prestamos</h1>
            <div id="filtrar">
                <input type="text" placeholder="Filtrar por...">
                <div id="buscar">
                    <img src="img/buscar.svg">
                </div>
            </div>
        </div>
        <table>
            <tr id="tabla-titulo">
                <th><h4>Responsable</h4></th>
                <th><h4>Elemento</h4></th>
                <th><h4>Cantidad</h4></th>
                <th><h4>Estado</h4></th>
                <th><h4>Serial</h4></th>
                <th><h4>Descripcion</h4></th>
                <th><h4>Fecha de prestamo</h4></th>
                <th><h4>Fecha de devolucion</h4></th>
                <th><h4>Acciones</h4></th>
            </tr>
            <tr class="tabla-contenido">
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th>
                    <div class="tabla-contenido-boton">
                        <a href="#">
                            <img src="img/editar.svg" alt="">
                        </a>
                    </div>
                    <div class="tabla-contenido-boton">
                        <a href="#">
                            <img src="img/buscar.svg" alt="">
                        </a>
                    </div>
                </th>
            </tr>
            <tr class="tabla-contenido">
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th><p>Ejemplo</p></th>
                <th>
                    <div class="tabla-contenido-boton">
                        <a href="#">
                            <img src="img/editar.svg" alt="">
                        </a>
                    </div>
                    <div class="tabla-contenido-boton">
                        <a href="#">
                            <img src="img/buscar.svg" alt="">
                        </a>
                    </div>
                </th>
            </tr>
        </table>
    </section>
    <section id="botones-seccion">
        <a href="#">
            <div class="inventario-boton">
                <h3>Préstamos Próximos a Vencer</h3>
            </div>
        </a>
            <div class="btn">
                <div class="calendario">
                    <div class="box-calendar">
                        <a href="calendario/calendar.html"><i class="fa-regular fa-calendar-days"; style="color: #fff; font-size: 30px;"></i></a>
    
                    </div>
                </div>
                <div class="reporte">
                    <div class="a-report">
                        <a href=""><i class="fa-regular fa-file" style="color: #fff; font-size: 30px;"></i></a>
                    </div>
                </div>
            </div>
    </section>
    <footer id="main-footer">
        <div class="horizontal">
            <div>

            </div>
            <div id="footer-info">
                <p>Copyright 2023</p>
                <p>Servicio Nacional de Aprendizaje - SENA</p>
                <p>Tel: 300 800 4050</p>
            </div>
            <div class="logo">
                <img src="{% static 'senaback/img/logo-sena.svg'%}" alt="">
            </div>
        </div>
    </footer>
</body>
</html>