<!DOCTYPE html> 
<html lang="en">    
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login S.G.I</title>
        <link href="{% static 'senaback/css/estiloss.css' %}" rel="stylesheet">
    </head>

<body class="hidden">
        <header>
                <div class="contenedor-nav">
                    <div class="logo">
                        <img src="{% static 'senaback/img/logo-sena.svg' %}" alt="">
                    </div>
                    <div class="textos">
                <h2>Sistema de Gestión de Inventario</h2>
            </div>
                </div>
        </header>
        <section class="team_contenedorr" id="equipo">


                <form method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    <h2>Acceder:</h2>
                    <!-- <label for="username">Rol:</label>
                    <br>
                    <br>
                    <select id="rolusuario" name="roldeusuario">
                        <option value="Instructor">Instructor</option>
                        <option value="Superadmin">Súperadmin</option>
                        <option value="Monitor">Monitor</option>
                    </select> -->
                    <br>
                    <br>
                    <label for="username">Número de documento:</label>
                    <input type="text" id="username" name="username">
                    <label for="password">Contraseña:</label>
                    <input type="password" id="password" name="password">
                    <a href="{% url 'index' %}" id="botonlogin">Iniciar Sesión</a>
                    <br>
                    <br>
                </form>
        </section>
<footer id="contacto">
    <div class="footer contenedor">
        <div class="marca-logo">
            <img src="{% static 'senaback/img/logo-sena.svg' %}" alt="">
        </div>
        <div class="textofinal">
            <h4>Teléfono 300 000 0000  |  Correo: admin@sena.edu.co   |  SENA 2023 - Todos los derechos reservados.</h4>
        </div>
    </div>
</footer>

</body>

</html>