<!DOCTYPE html> 
<html lang="en"> 
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login S.G.I</title>
        <link href="{% static 'senaback/css/estilo_index.css' %}" rel="stylesheet">
    </head>

<body class="hidden">
        <header>
                <div class="contenedor-nav">
                    <div class="logo">
                        <img src="{% static 'senaback/img/logo-sena.svg'%}" alt="">
                    </div>
                    <div class="textos">
                <h2>Sistema de Gestión de Inventario</h2>
            </div>
                </div>
            
        </header>
        <section class="team_contenedorr" id="equipo">
                <form>
                    <h2>Recuperar Contraseña:</h2>
                    <br>
                    <div class="logo" style="align-items: center;">
                        <img src="img/bloquear.png" alt="">
                    </div>
                    <br>
                    <label for="username">Ingrese su número de documento:</label>
                    <input type="text" id="username" name="username">
                    <br>
                    <a href="../login.html" id="botonlogin">Recuperar Contraseña</a>
                </form>
        </section>
<footer id="contacto">
    <div class="footer contenedor">
        <div class="marca-logo">
            <img src="{% static 'senaback/img/logo-sena.svg'%}" alt="">
        </div>
        <div class="textofinal">
            <h4>Teléfono 300 000 0000  |  Correo: admin@sena.edu.co   |  SENA 2023 - Todos los derechos reservados.</h4>
        </div>
    </div>
</footer>
    
</body>

</html>
