:root {
    --color_1: #39a900;
    --color_2: #00324d;
    --color_3: #82def0;
    --color_4: #fbfbe2;

    --verde_1: #6ea329;
    --verde_2: #539e48;
    --verde_3: #6ea329;

    --tipografia_1: ;
    --tipografia_2: ;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: Verdana, sans-serif;
    font-style: normal;
	margin: 0;
	padding: 0;
    margin-bottom: 40px;
    background-size: cover;
}
section {
    margin-bottom: 30px;
}

/* IDs */

#main-header {
	background: var(--verde_2);
	color: white;
	height: max-content;
}

#sesion {
    display: flex;
    margin-right: 20px;
    align-items: center;
    flex-direction: column;
}

#sesion a {
    display: flex;
    margin-right: 20px;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}
#sesion a p {
    font-style: normal;
    color: #eee;
}

#cerrar-sesion-img {
    margin: 10px;
    image-rendering: pixelated;
    height: 30px;
    width: 30px;
}

#sesion p {
    border: 5px;
    font-style: italic;
    margin: 2px;
}

#main-footer {
	background: var(--verde_2);
        position: absolute;
        bottom: 0;
    width: 100%;
    height: max-content;
    color: white;
}

#footer-info {
    display: flex;
    flex-flow: column;
    align-items: center;
}
#footer-info p {
    border: 5px;
    font-style: italic;
    font-size: smaller;
    margin: 2px;
}

#botones-nav{
    display: flex;
    justify-content: space-around;
    padding-inline-start: 0px;
    margin-block: 0px;
    background-color: var(--color_4);
    color: black;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#botones-nav ul {
    list-style:none;
    margin:0;
    padding:0;
}
#botones-nav ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
}
#botones-nav ul li {
    display: flex;
    align-items: center;
    position:relative;
    float:left;
    margin:0;
    padding:0;
    padding-inline: 20px;
}
#botones-nav ul ul li {
    float:none;
    width:150px
}
#botones-nav ul a {
    color: var(--verde_1);
    display:block;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
    letter-spacing:1px;
}
#botones-nav ul a:hover{
    font-style: oblique;
}
#botones-nav ul ul a {
    line-height:120%;
    padding:10px 15px;
}
#botones-nav ul li:hover > ul {
    display:block;
}

/* Clases */

.horizontal{
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    align-items: center;

}
.horizontal h1 {
    margin: 2px;
}

.logo {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 50px;
    width: 50px;
    color: white;

}

.icono {
    display: flex;
    padding: 2px;
    margin-left: 4px;
    margin-right: 4px;
    height: 16px;
    width: 16px;
}

.info-centro {
    font-size: 20px;
}

a{
    text-decoration: none;
    transform: scale(1);
    transition: transforn 5s ;
}

a h1{
    color:#fff  ;
    cursor: pointer;
}

a:hover {
    /* border-bottom: 2px solid #fff;  */
    transform: scale(1.2);
    
}