:root{
    --color1: rgb(219,144,.5);
    --color2: rgba(23, 180, 83, 0.877);
    --color3: rgba(11,194,211, 0.623);
    --fondo: #ffffff;
    --titulos: 33px;
    --margenes: 60px;
    --espacios: 10px;
    --espacios-contenido:45px;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'arial';
    background: var(--fondo);
    background-image: url("../img/sena-cursos.jpg");
    background-repeat: no-repeat;
    background-size: cover;


  }
  img{
    vertical-align: center;
  }

#rolusuario{
  height: 40px;
  width: 100%;

}
/* Header */

header{
  width: 100%;
  height:100px;
  background-color: #539e48;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: center;
}

  
  .logo, .logo img{ 
    height: 75px;
  width: 80px;
  }

  /* Estilos para el formulario de inicio de sesión */
  form {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
  }
  
  form h2 {
    margin-top: 0;
  }

  
  
  form input[type="text"],
  form input[type="password"] {
    border: 1px solid #cccccc;
    border-radius: 3px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
  }
  
  form button {
    background-color: #539e48;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    margin: 20px 0 0 0;
    padding: 10px;
    width: 100%;
  }
  
  .icono{
    display: none;
    font-size: 24px;
    padding: 23.5px 20px;
  }

  .textos{
    margin:auto;
  }

  .team_contenedorr{
    align-items: center;
    background-attachment: fixed;
  }
  .card{
    margin-top: 5%;
  }
  
  .textos{
    width: 65%;
    height: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    align-items: center;
    vertical-align: middle;
    margin-top: -35px;
  }

  #botonlogin{
    display: inline-block;
    padding: 10px 44.5%;
    background-color: #539e48; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-decoration: none; /* Eliminar el subrayado del enlace */
    border: none; /* Eliminar el borde del enlace */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 5px; /* Agregar esquinas redondeadas */
  }

  #recuperarcontra{
    color: #539e48;
    text-align: center;
  }
  
  .people{
    height: 80%;
  }

  .contenedor{
    margin: bottom;
    padding: var(--margenes) 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .footer{
    background-color:#539e48;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 15%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .marca-logo{
    width: 15%;
    margin: center;
    margin-bottom: var(--espacios);
  }
  
  .marca-logo img{
    width: 75px;
    height: 75px;
  }
  .iconos{
    margin: auto;
  }
  .textofinal{
    color: white;
    justify-content: center;
    text-align: center;
  }


  